# Environment variables for production deployment

PORT=
EMAIL_USER=
EMAIL_PASS=
MONGODB_URI=

CLOUDINARY_NAME=
CLOUDINARY_KEY=
CLOUDINARY_SECRET=

# Google Apps Script Web App URL for Admission Form
GOOGLE_APPS_SCRIPT_URL=
# Google reCAPTCHA v3
NEXT_PUBLIC_RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=
