name: Deploy Static Site to VPS

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - name: Install dependencies
        run: npm install

      - name: Build static site
        run: npm run build

      - name: Upload static files to VPS
        uses: appleboy/scp-action@v0.1.7
        with:
          host: 94.249.213.192
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22192
          source: "out/*"
          target: "/var/www/tarkaiedtech_site"
          strip_components: 1

      - name: Reload NGINX
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: 94.249.213.192
          username: root
          key: ${{ secrets.VPS_SSH_KEY }}
          port: 22192
          script: |
            nginx -t
            systemctl reload nginx
